@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }

    /* HEADER */

    .logo {
            margin-right: 76px;
        }

    .menu-list {
            display: flex;
            align-items: center;
            }
        
    .header-contacts {
            display: flex;
            align-items: center;
            }
        
    .mailto {
            margin-right: 40px;
            }

    .menu-link{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
position: relative;
display: inline-block;
transition: color var(--transition);

}

.menu-item:not(:last-child){
margin-right: 40px;
}

.mobile-menu-open {
    display: none;
    }

    
    /* Our-Team */

    .Our-Team {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    .Our-Team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    }
    

    /* Our-features */

    .Our-features-list{
        flex-wrap: nowrap;
    }
        
    .features-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    }

    /* Customers */

    .customers-logo-list{
    display: flex;
    gap: 24px;
    }

}

@media (max-width:1199px) {
    .Projects{
        display: none;
    }
}