@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
    }

    .container-small {
        padding-left: 156px;
        padding-right: 156px;
    }

    .Our-Team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .Our-Team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    }

/* Our-Features */

    .Our-features-list{
        display: flex;
        flex-wrap: nowrap;
    }

    .Our-features-list :not(:last-child) {
        margin-right: 24px;
    } 
        
    .features-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    }

}