@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }

    /* HEADER */

    .logo {
            margin-right: 76px;
        }

    .menu-list {
            display: flex;
            align-items: center;
            }
        
    .header-contacts {
            display: flex;
            align-items: center;
            }
        
    .mailto {
            margin-right: 40px;
            }

.menu-item:not(:last-child){
margin-right: 40px;
}

.mobile-menu-open {
    display: none;
    }

    /* HERO */

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
}

.title {
    font-size: 56px;
    line-height: 1.071;
    max-width: 500px;
    margin-bottom: 48px;
}
    /* Our-Team */

    .Our-Team {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    .Our-Team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    }
    

    /* Our-features */

    .Our-features-list{
        flex-wrap: nowrap;
    }
        
    .features-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    }

    .content{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #434455;
    }

    /* Customers */

    .customers-logo-list{
    display: flex;
    gap: 24px;
    }

    .customers-item{
            flex-basis: calc((100% - 120px) / 6);
    }


    /* FUTER */

.Futer{
padding-top: 100px;
padding-bottom: 100px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.futer-main-content {
    margin-right: 120px;
}

.futer-social {
    margin-right: 80px;
}

.social-links {
    display: flex;
    gap: 16px;
}

.footer-form {
    display: flex;
    align-items: center;
}

.futer-input {
    min-width: 264px;
    height: 40px;
    
}


}

@media (max-width:1199px) {
    .Projects{
        display: none;
    }
}