@media screen and (min-width:480px) {
    .container {
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:767px){
    .menu-list {
            display: none;
        }
    
        /* HEADER */

        .header-contacts {
            display: none;
        }

        /* MOBILE-MENU */

        .mobile-menu {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            padding-top: 24px;
            padding-bottom: 40px;
            background: #FFFFFF;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity var(--transition) visibility var(--transition);
            }
        
        
    .mobile-menu.is-hidden {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
            }
        
    .mobile-menu>.container {
        padding-left: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }


    .mobile-menu-open {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    stroke: #2E2F42;
                    height: 22px;
                }
        
        .mobile-menu-close {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            padding: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #E7E9FC;
            border: 1px solid rgba(0, 0, 0, 0.1);
            transition: background-color var(--transition);
            }

        .mobile-menu-close:hover,
        .mobile-menu-close:focus {
            background: #404BBF;
        }

        .close-icon {
                transition: fill var(--transition);
            }
        .mobile-menu-close:hover .close-icon,
        .mobile-menu-close:focus .close-icon {
                fill: #FFFFFF;
            }
        
        .mobile-menu-link {
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
            }
        
        .mobile-menu-item:not(:last-child) {
            margin-bottom: 40px;
        }
        
        .mobile-social-list {
            display: flex;
            justify-content: space-between;
            }

        .mobile-contact {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #434455;
            transition: color var(--transition);
            }

            .mobile-tel{
                font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #4D5AE5;
            }

        .mobile-contact:hover{
            color: #4D5AE5;
            }

        .mobile-menu-contacts{
            padding-bottom: 40px;
            }
        
        .mobile-social-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #4D5AE5;
                    
                    transition: background-color var(--transition)
                }

        .mobile-social-link:hover,
        .mobile-social-link:focus{
            background-color: #404BBF
        }

        .hero-container {
            max-width: 100%;
            }
.hero{
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg-tablet.jpg);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.futer-main-content {
    text-align: center;

}

.futer-input{
    margin-bottom: 16px;
}
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet-2x.jpg);
    }
}


.modal{
    width: 408px;
}

