@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
    
    .logo{
        margin-right: 123px;
    }

    .menu-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        position: relative;
        display: inline-block;
        transition: color var(--transition);
        }
        
    .contact{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;}


    
    .mobile-menu-open{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

/* HERO */

.hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-desktop.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop-2x.jpg);
    }
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 40px;
}

    /* Our-Team */

    .Our-Team {
        padding-top: 96px;
        padding-bottom: 104px;
    }

    

    .Our-Team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    /* Our-Features */
    
    .Our-features-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

.Our-Features-heading{
    text-align: left;
}

    .studio-list{
    flex-basis: calc((100% - 24px) / 2);
    }

.customers-item {
    flex-basis: calc((100% - 6 * 35px) / 3);
}

.footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-header{
    text-align: left;
}
.footer-subscribe-header{
    text-align: left;
}

.futer-content {
    max-width: 264px;
}

.futer-main-content{
    margin-right: 24px;
}

.footer-form{
    display: flex;
}

.futer-input{
    height: 40px;
    margin-right: 24px;
}

.footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 582px;
    justify-content: start;
    align-items: normal;
}
}



