@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
    
    .Our-Team {
        padding-top: 96px;
        padding-bottom: 104px;
    }

    .container-small {
        padding-left: 108px;
        padding-right: 108px;
    }

    .Our-Team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .Our-features-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .studio-list{
    flex-basis: calc((100% - 24px) / 2);
    }
}

